<h1 class="question-title"><u>Create Question</u></h1>
<div class="question-container">
  
  <form class="form-group" (ngSubmit)="add()" #questionForm="ngForm">
    <div>
      <label for="question">Question: </label>
      <input class="form-input" placeholder="Question" id="question"  name="question" [(ngModel)]="newQuestion.question" required>
    </div>

    <div>
      <label for="options">Options: </label>
      <input placeholder="['Options']" id="options" name="options" [(ngModel)]="optionsAsString" required>
    </div>

    <div>
      <label for="correctAnswer">Correct Answer: </label>
      <input class="form-input" placeholder="Answer" id="correctAnswer" name="correctAnswer" [(ngModel)]="newQuestion.correctAnswer" required>
    </div>

    <div>
      <label for="distractors">Distractors: </label>
      <input class="form-input" placeholder="['Distractors']" name="distractors" [(ngModel)]="distractorsAsString" required>
    </div>
    
    <button class="submit" type="submit" [disabled]="!questionForm.form.valid">Submit</button>
    <button class="reset" type="button" (click)="resetForm()">Reset</button>
  </form>
  <br><br>
  <app-question-table class="out" [questions]="questions" (questionSelected)="onQuestionSelected($event)"></app-question-table>
</div>