<div class="flex justify-center">
    <div class="border border-w-500 p-4 shadow-lg bg-white w-fit" *ngIf="randomQuestion">
        <h2 class="text-3xl underline text-emerald-600">{{ randomQuestion.question }}</h2>
        <ul>
        <li *ngFor="let option of randomQuestion.options" [ngClass]="{
            'bg-blue-200': option === randomQuestion.correctAnswer && showResult && selectedOption === option,
            'bg-red-200': option === selectedOption && showResult && selectedOption !== randomQuestion.correctAnswer
        }">
            <input type="radio" name="options" [value]="option" (change)="onOptionSelected(option)">
            <label>{{ option }}</label>
        </li>
        </ul>
        <div>
        <button (click)="checkAnswer()">Submit</button>
        <button *ngIf="showResult" (click)="nextQuestion()" class="ml-2">Next</button>
        </div>
        <p *ngIf="showResult && selectedOption !== randomQuestion.correctAnswer" class="text-red-500">
        Incorrect answer. The correct answer is: {{ randomQuestion.correctAnswer }}
        </p>
    </div>
</div>