table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #837a7a;
    margin-bottom: 5px;
}

thead {
    background-color: #333;
    color: rgb(150, 150, 150);
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

thead th {
    width: 95%;
}

tbody tr:nth-child(odd) {
    background-color: rgb(129, 114, 24);
}

tbody tr:nth-child(even) {
    background-color: rgb(170, 145, 4);
}

button {
    color: red;
    background-color: bisque;
}